@charset "UTF-8";

/* 共通パーツ */

html {
    font-size: 16px;
    height: 100%;
}

body {
    color: #fff;
    height: 100%;
    font-size: 1rem;
    font-family: "YuGothic", Yu Gothic, sans-serif;
    background: linear-gradient(180deg, #186AC9, #ff0);
    background-attachment: fixed
}

.logout_header {
    margin-top: 200px;
    text-align: center;
}

.logout_header img {
    width: 150px;
    top: 200px;
}

.logout_header p {
    font-size: 2rem;
    margin-top: 10px;
    font-weight: bold;
}

.main_logout {
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 340px;
}

/* フォームエリア共通 */
#containerLogout {
    display: block;
    margin: 30px auto;
    width: 250px;
}

.logout_input {
    margin: 15px auto;
}

label {
    display: block;
    font-size: 0.8rem;
}

.input {
    display: block;
    margin-top: 5px;
    width: 100%;
    border-radius: 7px;
    border: none;
    padding: 5px;
}

.validate_text{
    color: #fff;
    font-size: 0.8rem;
    margin-top: 5px;
    line-height: normal;
}

/* AtlasSNSへようこそ */
.h2 {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}

/* ボタン右寄せ */
.btn_submit {
    text-align: right;
}

.btn_submit .btn {
    letter-spacing: 2px;
}

/* ボタン下テキストリンク */
.logout_p {
    text-align: center;

}

.logout_p a {
    color: #fff;
}


/* ログイン成功後ページ add*/
.clear_p {
    text-align: center;
    line-height: normal;
    margin-top: 30px;
    font-size: 1.1rem;
}

.h3 {
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
}

.submit_p {
    text-align: center;
    margin-top: 15px;
}
