@charset "utf-8";

html {
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
    font-size: 1rem;
    font-family: "YuGothic", Yu Gothic, sans-serif;

}

/* header */
header {
    background: #186AC9;
}

#head {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
#head h1 img {
    height: 50px;
}

/* ドロップダウンメニュー */
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu img {
    margin-left: 15px;
}

.icon {
    height: 50px;
}


summary {
    /* display: list-item;以外を指定してデフォルトの三角形アイコンを消します */
    display: block;
}

summary::-webkit-details-marker {
    /* Safariで表示されるデフォルトの三角形アイコンを消します */
    display: none;
}

#menuIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

details{
    display: flex;
    align-items: center;
    justify-content: center;

}

#menuIcon p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;

}

.up_icon {
    display: block;
    position: relative;
    width: 24px;
    margin-left: 6px;
    flex-shrink: 0;
    transform-origin: center 43%;
    transition: transform 0.4s;
}

/* アコーディオンが開いた時のスタイル */
details[open] .up_icon {
    transform: rotate(180deg);
}

/* アイコンのバーのスタイル */
.up_icon::before,
.up_icon::after {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 3px;
    background-color: #fff;
}

.up_icon::before {
    left: 0;
    transform: rotate(45deg);
}

.up_icon::after {
    right: 0;
    transform: rotate(-45deg);
}

/* ドロップダウンレイアウト */
.dropdown_lists{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 45px;
    width: 20%;
    right: 0px;
    position: absolute;
    border: 1px solid #052c65;
    background-color: #fff;
}


.dropdown_lists li a{
    color: #727272;
    width: 100%;
    display: inline-block;
    padding: 30px;
    border-bottom: 1px solid #052c65;
}

.dropdown_lists a:hover{
    background-color: #052c65;
        color: #fff;

}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    width: 100%;
}

#container {
    flex: 0 0 80%;
    padding: 0;
}



/* サイドバー　レイアウト */
#side-bar {
    flex: 0 0 20%;
    border-left: 1px solid #727272;
}

#confirm {
    padding: 30px 15px;
    border-bottom: 1px solid #727272;
}

#confirm p {
    font-size: 1.2rem;
}

/* ボタンのデザインリセット */
button {
display: block;
    margin: 30px auto 0 auto;
text-align: right;

}

button a {
color: #fff;
text-decoration: none;
}

.side_n{
    display: flex;
    justify-content: space-between;
    width: 170px;
    margin-top: 30px;
}

.side_btn{
    text-align: right;
}

.side_btn .btn{
    width: 160px;
}

.side_btn_s {
text-align: center;
}

.side_btn_s a {
font-size: 1.2rem;
}





.content {
    margin: 0 auto;
    padding: 40px;
}

/* 編集モーダル */

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    padding: 30px;
    left: 70%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 10px;
    text-align: center;
}

.modal_post{
    width: 100%;
    height: 200px;
    resize: none;
    border-radius: 0px;
    padding: 10px;
}

.edit {
    width: 30px;
    margin-top: 15px;
}


/* 削除ボタン */
.btn_trash {
    cursor: pointer;
    position: relative;
}

.btn_trash img {
    position: absolute;
    width: 100%;
    display: block;
    right: 0px;
}

.btn_trash img:last-of-type {
    opacity: 0;
    transition: opacity .7s;
}

.btn_trash:hover img:last-of-type {
    opacity: 1;
}

.btn_trash:hover img:nth-of-type(1) {
    opacity: 0;
}

/* 削除アラート */
#customAlert {
    position: fixed;
    width: 450px;
    top: 0px;
    right: 0;
    left: 0;
    margin: auto;
    padding: 20px;
    display: none;
    border: 1px solid #6c757d;
    background-color: #fff;
}

#cancelButton {
    border: 1px solid #000;
    margin-left: 20px;
}

.btn_alert{
    width: 110px;
}

.alert_buttons{
    text-align: right;
}

/* 新規投稿 */

#containerHead {
    display: flex;
    justify-content: left;
    padding: 30px 80px;
    border-bottom: 8px solid #dee2e6;
}


/* 投稿ボタン */
.btn-success {
    border: none;
    background: none;
}

#containerHead button img {
    width: 45px;
}

#containerHead form {
    display: flex;
    align-items: flex-end;
}


/* フォームレイアウト */


.form_layout {
    width: 700px;
    height: 150px;
    border: none;
    margin: auto 30px;
    resize: none;
}

/* 新規投稿のプレースホルダーテキスト */

.form_layout::placeholder {
    color: #adb5bd;
}

.form-control::placeholder {
    position: absolute;
    top: 0;
    font-size: 1.2rem;
}

/* フォームのアイコン */
#newPost .icon {
    margin-right: 15px;
}

.form_btn{
    margin: 0px;
}

/* 投稿一覧 */

.table_post{
    display: flex;
}

.table_post img {
    margin-right: 15px;
}

.post_name {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.post_text{
    font-size: 1rem;
}

.post_time{
    margin: 0 0 0 auto;
    font-size: 0.8rem;
}

.table_btn{
    display: flex;
    justify-content: space-between;
    width: 74px;
    margin: 0 0 0 auto;

}

.table_btn img {
    display: inline-block;
    width: 32px;
    margin: 15px 0 0 0;

}

.list-group-item {
    padding: 30px 120px;
    height: 100%;
}


/* フォロワー・フォローリスト */
#containerHead h3 {
    font-size: 1.5rem;
    margin-right: 30px;
}

.follower_head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.follower_head p {
    margin-right: 10px;
}


/* 検索ぺーじ */

#containerSearch {
    display: flex;
    justify-content: left;
    padding: 30px 80px;
    border-bottom: 8px solid #dee2e6;
    align-items: center;
}

#containerSearch form{
    margin-left: 30px;
}

#containerSearch p {
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 30px;
}

#containerSearch input {
    width: 300px;
    height: 40px;
    padding: 5px;

}

#containerSearch button {
    margin: 0 auto 0 0;
    border: none;
}

#containerSearch img {
    width: 45px;
    border-radius: 5px;
}

.table button{
    margin: 0;
}

.table_search td{
    vertical-align:middle;
}


/* 自分以外のプロフィール */

.profile_left {
    display: flex;
}

.profile_lists {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15px;
}

.profile_list {
    display: flex;
    font-size: 1.2rem;
}

.profile_list :first-child{
    width: 80px;
}

.profile button {
    margin: 0 0 0 auto;
}

.profile_other #containerHead{
    justify-content: space-between;
    height: 140px;
}

/* 自分のプロフィール */

.profile{
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 50px auto;
}

.label{
    font-size: 1.2rem;
    width: 300px;
}

.pro_form{
    display: flex;
    width: 600px;
    margin-bottom: 40px;
    align-items: center;
}

.pro_form .form-control {
    border-radius: 0px;
    border-color: #727272;
    background-color: #e9ecef;
}

.pro_form .file {
    display: none;
}

.pro_form .pro_file{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pro_file p{
    display: inline-block;
    color: #adb5bd;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 20px;
    font-size: 1.2rem;
}


.pro_btn{
    text-align: center;
}

.pro_btn .btn{
    width: 140px;
}
